/* Styles généraux */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

/* *********** */
/* Style général du conteneur */
.container {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 90%;
  color: #333;
  background-color: white;
  margin-bottom: 20px;
  text-align: center;
}

/* *********** */
/* Style pour les titres */
h1, h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* *********** */
/* Style des liens */
a {
  display: inline-block;
  margin-top: 20px;
  color: #66a6ff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #89f7fe;
}

/* *********** */
/* Style du formulaire */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input, select {
  width: 85%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

input:focus, select:focus {
  box-shadow: 0 0 5px rgba(102, 166, 255, 0.7);
  border-color: #66a6ff;
}

.error-message {
  color: red;
  font-size: 12px;
}

.button {
  margin-top: 20px;
}

/* *********** */
/* Style du bouton de soumission */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #66a6ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #89f7fe;
}

/* *********** */
/* Style pour la boîte de dialogue modal */
.MuiModal-root .MuiBox-root {
  border-radius: 8px;
  padding: 20px;
}

.MuiTypography-h6 {
  text-align: center;
}

.MuiButton-root {
  display: block;
  margin: 0 auto;
  background-color: #66a6ff;
  color: white;
}

.MuiButton-root:hover {
  background-color: #89f7fe;
}
